<!-- <div class="div">
    <img src="../../../assets/start/logo.png" >
  <div class="no">
     
      <ion-item>
                
          <ion-input placeholder="Pseudo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        
          <ion-input placeholder="Mot de passe " type="password" ></ion-input>
      </ion-item>

     
  </div>
  
    
</div> -->
<div class="lp">
        <img src="../../../assets/start/logo.png" >
      <div class="div1">
          <ion-item>
              
              <ion-input class="input1" placeholder="Pseudo" type="text"></ion-input>
          </ion-item>
          <ion-item>
            
              <ion-input class="input1" placeholder="Mot de passe " type="password" ></ion-input>
          </ion-item>

      </div>
       <div>
            <ion-label>J'accepte les <b>CGU</b></ion-label>
            <ion-toggle></ion-toggle>
        
       </div>
           
    
       
    
      <ion-button (click)="onClick()" class="boutton" shape="round">Connexion</ion-button>

      
</div>

