.abc {

  --background: var(--ion-background-color, #618EA8) !important;


}
// .img{
//   border-radius: 50%;
//   overflow: hidden;
//   height: 130px;
//   width: 130px;
// }
.border-white {
  border: white solid 4px;
  border-radius: 50%;
  width: fit-content;
}
.div{
  margin-left: 25%
}
.card-profile-stats {
  padding: 1rem 0;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
  margin-left: 9%;
  margin-right: 2%
}
.heading {
  font-size: 2.1rem;
  font-weight: bold;
  display: block;
  color: white;
}
.description {
  font-size: .875rem;
  color: #adb5bd;
  text-align: center
}
.h3{
  text-align: center
}
.text-align{
  text-align: center
}
.align-items-center {
  align-items: center !important;
  margin-left: 30%;

}
// .avatar-sm {
//   font-size: .875rem;
//   width: 52%;
//   height: 52%;
// }
.avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 50%;
  height: 50%;
  color: #fff;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    border-radius: 50%;
}
}
.ml-2 {
  margin-left: .5rem !important;
  
}
.myicon1{
  padding-left: 80%;
  width: 20%;
  height: 25px;
  color: white;
}