<ion-content padding="true" >
    <ion-slides pager="true" [options]="slideOpts"  >
        <ion-slide class="bg">
          <img src="../../../assets/Slide/Slide1/Doctor.png">
          <h2>STAGE & SUIVI DES EXPERTS</h2>
          <p>Effectuer un stage, suivez un expert du domaine</p>
        </ion-slide>
        <ion-slide class="bg1">
          <img src="../../../assets/Slide/Slide2/living-room-books-group.png">
          <h2>COURS & DOCUMENTATION</h2>
          <p>Consulter les multimedias
              consulter CareLib</p>
        </ion-slide>
        <ion-slide class="bg2">
          <img src="../../../assets/Slide/Slide3/Group.png">
          <h2><b>CONSULTATIONS EN LIGNE</b></h2>
          <p>Contacter un medecin,
              faites des consultations à distance</p>
          <ion-button expand="block" routerLink='start'>Commencer! </ion-button>
        </ion-slide>
      </ion-slides>
</ion-content>
