.bg {
    background-image: url("../../../assets/Slide/Slide1/Background1.png");
    background-size: cover;
    width: 100vh;

    img {
        margin-left: 5vh;
        margin-top: 7vh;
        bottom: 75%;
        width: 30vh;
    }


    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 4.5vh;
        line-height: 5vh;
        text-align: center;
        color: #FACE59;
        top: 15vh;
        font-size: 20px;
        margin-top: 0px;
    
    }

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;
        line-height: 3.5vh;
        text-align: center;
        color: #CDDBEC;
        top: 15vh;

    }
}

.bg1 {
    background-image: url("../../../assets/Slide/Slide2/Background2.png");
    background-size: cover;
    width: 100vh;

    img {
        margin-left: 2vh;
        margin-top: 7vh;
        bottom: 75%;
        width: 25vh;
    }

    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 4.5vh;
        line-height: 5vh;
        text-align: center;
        color: #FACE59;
        top: 15vh;
        font-size: 20px;
        margin-top: 0px;
    }

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;
        line-height: 3.5vh;
        text-align: center;
        color: #CDDBEC;
        top: 15vh;

    }
}

.bg2 {
    background-image: url("../../../assets/Slide/Slide3/Background3.png");
    background-size: cover;
    width: 100vh;

    img {
        margin-left: 2vh;
        margin-top: 7vh;
        bottom: 75%;
        width: 25vh;
    }



    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 4.5vh;
        line-height: 5vh;
        text-align: center;
        color: #FACE59;
        top: 15vh;
        font-size: 20px;
        margin-top: 0px;
    }

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;
        line-height: 3.5vh;
        text-align: center;
        color: #CDDBEC;
        top: 15vh;

    }
}




ion-slide {

    height: 98vh;
    width: 100% !important;
    display: block;

    img {
        width: 100px;

    }

    h2 {
        font-size: 36px;
        font-weight: bold;
    }
}

.swiper-pagination-bullet {
    width: 100px !important;
}

.boutton {
    top: 1vh;
    left: 32vh
}

.bouton-next {
    margin-left: 80%;
    height: 5%;
    width: 20%;
}