
ion-slide {
    height: 90%;
    width: 90%
}
  
.ion-avatar {
  height: 15vh;
  width: 15vh;
  background-color: #FACE59;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 5%;
  background-position-x: center;
}
  
  .ion-avatar-img {
    height: 14vh !important;
    width: 14vh !important;
    border-radius: 50%;
    position: relative;
    align-self: center;
    left: 3.5%;
    top: 4%;
}
  toolbar-content{
display: contents !important;
}
.h3{
  text-align: center;
}