.background {
  background-image: url('../../assets/General-background/General-background.svg');
  background-size: cover;
  height: 100% !important;
  width: 100% !important;
  display: block;
  overflow-y: scroll;

}

ion-card {
  background-color: #ffffff;
  border-radius: 5%;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  img{
    display: block;
    width: 60%;
    margin-left: 19%;
  }
  h2{
    text-align: center;
    color: #FACE59
    
  }

 }
// .ion-icon{
//   height: 25px;
//   margin-left: 75%;
//   width: 30px;
// }
// .button1{
//   padding-left: 70%;
 
// }
// ion-content{
//   --ion-background-color: var(--ion-color-light);
// }
// .logo-header {
//   height: 40px;
//   margin-top: 5px;
// }
// .img-intro {
//   margin-bottom: -7px;
// }
// .box-title {
//   margin: 10px 0px 5px 5px;
//   font-weight: 500;
// }
// .scroll-box {
//   display: flex;
//   overflow: scroll;
// }
// .movie {
//   margin-left: 5px;
// }
// .movie img {
//   height: 150px;
//   max-width: none;
// }